* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
}

.text_1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

.text_2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

.text_3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

body {
    background-color: rgb(114, 106, 0);

}

.site_body {
    margin: 4px 8px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.161);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 20px;
    border-radius: 20px;
}

header {
    padding-top: 8px;
    margin: 10px;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.196);
    padding: 0px 30px;
    border-radius: 20px;
    display: flex;

    .site_logo {
        padding: 8px;
        color: white;
    }

    .menu {
        list-style-type: none;
        display: none;
        padding: 8px;

        @media (min-width: 830px) {
            margin-left: auto;
            display: flex;
        }

        li {
            padding-left: 20px;
        }
    }
}

/* uniqe for page */

main {
    margin-top: 20px;
    margin-right: 10dvw;
    margin-left: 10dvw;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .site_main {
        background-color: rgba(255, 255, 255, 0.172);
        padding: 4dvh 4dvw;
        border-radius: 20px;

        .text_404 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
            font-weight: bold;
            font-size: 8dvh;
        }

        .head_text {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: black;
            font-size: 2dvw;
        }

        .not_found_message {
            margin: 2vh;
        }
    }

    .about_me_text {
        background-color: rgba(255, 255, 255, 0.159);
        padding: 4dvh 2dvw;
        border-radius: 20px;
        margin-left: 2dvh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 2dvw;
    }
}

/* uniqe for page end */

.footer_bar {
    position: fixed;
    bottom: 8px;
    left: 10px;
}

.footer_text {
    font-size: 12px;
    padding: 4px 6px;
    background-color: rgba(255, 255, 255, 0.131);
    border-radius: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.text_home {
    display: none;
}

@media (max-width: 830px) {
    .text_home {
        display: flex;
    }

    header {
        overflow: hidden;
    }

    nav {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 0px 10px;
        border-radius: 20px;
        display: flex;

        .site_logo {
            display: none;
        }

        .menu {
            font-size: smaller;
            list-style-type: none;
            /* margin-left: auto; */
            display: flex;
            padding: 4px;
            /* padding-left: 1px; */

            @media (min-width: 640px) {
                display: flex;
            }

            li {
                padding-left: 4%;
            }
        }
    }

    .site_main {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 1dvh 2dvw;
        border-radius: 20px;
    }

    .about_me_heading {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 4vh;
        color: white;
        padding-bottom: 1dvh;
    }

    .about_me_text {
        background-color: rgba(255, 255, 255, 0.061);
        padding: 1dvh 2dvw;
        border-radius: 20px;
        margin-left: 0dvh;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 4dvw;
        color: white;
    }

}